<%= tinymce %>
<%= simple_form_for resource, :url => form_resource_path do |f| %>
  <%= f.input :name %>
  <%= f.association :speaker, :collection => Speaker.unscoped.order(:name) %>
  <%= f.input :start_time %>
  <%= f.input :end_time %>
  <%= f.input :ia_id, :label => 'TS IAID' %>
  <%= f.input :event_id, :label => 'TS eventID' %>
  

  <%= f.fields_for :audio_download, f.object.audio_download ? f.object.audio_download : f.object.build_audio_download do |df| %>
    <%= df.input :remote_asset_url, :label => "Audio File" do %>
      <%= df.input_field :remote_asset_url %>
      <% if f.object.audio_download.persisted? %>
        <div class="indent"><small><strong>Current File:</strong> <%= f.object.audio_download.filename %> (<%= number_to_human_size(f.object.audio_download.file_size) %>) </small></div>
      <% end %>
    <% end %>
  <% end %>
  
  <%= f.fields_for :transcript_download, f.object.transcript_download ? f.object.transcript_download : f.object.build_transcript_download do |df| %>
    <%= df.input :remote_asset_url, :label => "Transcript File" do %>
      <%= df.input_field :remote_asset_url %>
      <% if f.object.transcript_download.persisted? %>
      <div class="indent"><small><strong>Current File:</strong> <%= f.object.transcript_download.filename %> (<%= number_to_human_size(f.object.transcript_download.file_size) %>) </small></div>
      <% end %>
    <% end %>
  <% end %>
  <%= f.input :replay_start_time, :prompt => true %>
  <%= f.input :replay_end_time, :prompt => true %>
  <%= f.input :description, :input_html => {:class => "tinymce"} %>
  <div class="buttons">
  <%= f.submit %>
  </div>
<% end %>
