<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.input :name %>
  <%= f.input :email %>
  <div class="buttons">
  <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "links" %>