<% if @next_event %>
<h2>Next Event: <%= @next_event.name %> - <%= distance_of_time_in_words(@next_event.start_time, Time.now) %></h2>

<div class="clearfix">
<div style="float:left;">
<%= embed_event @next_event %>
</div>
<div style="float:right;margin-right:-20px;">
<%= embed_questions @next_event %>
</div>
</div>

<% else %>
<h2>No events scheduled</h2>
<% end %>
  
<%= render 'pages/sponsors' %>
