<% if @next_event %>

<div class="clearfix" style="margin-bottom:10px;">
<div style="float:right;margin-right:-40px;margin-top:-4px;">
  <%= countdown(@next_event) %>
</div>
<h2 class="subTitle" style="text-align:left;">Next Event: <%= @next_event.name %></h2>
</div>
<div class="clearfix">
<div style="float:left;">
<%= embed_event @next_event %>
</div>
<div style="float:right;margin-right:-20px;">
<%= embed_questions @next_event %>
</div>
</div>

<% else %>
<h2>No events scheduled</h2>
<% end %>
  
<%= render 'pages/sponsors' %>
