<h2>Our Sponsors</h2>
<% Sponsor.all.each do |sponsor| %>
  <div class="sponsor-box">
    <%= link_to image_tag(sponsor.image_url), sponsor.url %>
    <div class="wrap">
    <h3><%= link_to sponsor.name, sponsor.url %></h3>
    <div class="large"><%= sponsor.slogan %></div>
    <div class="content">
      <%= raw sponsor.description %>
    </div>
    </div>
  </div>
<% end %>
<div class="sponsor-box">
  <%= link_to image_tag('sponsor.jpg',:style => 'margin-left:-6px;'), 'mailto:support@creatingloveonpurpose.com' %>
  <div class="wrap">
  <div class="content">
    <p>"Would you like to sponsor an upcoming Love On Purpose Revolution and reach millions in your target market?  Email us at <%= link_to 'support@creatingloveonpurpose.com', 'mailto:support@creatingloveonpurpose.com' %> for more information.</p>
  </div>
  </div>
</div>