<div class="row">
  <% Bonus.all.each_with_index do |bonus, i| %>
    <% if i== 0 %>
    <div class="col bonus main">
      <%= link_to_if current_user, image_tag(bonus.image_url), download_bonus_path(bonus), :target => '_blank' %>
      <div class="entry content">
        <h4><%= link_to_if current_user, bonus.name, download_bonus_path(bonus), :target => '_blank' %></h4>
        <%= raw bonus.short_description %>
      </div>
    </div>
    <% else %>
    <% if i % 3 == 1 %>
<div class="clear"></div>
<% end %>
    <div class="col span4 bonus">
      <%= link_to_if current_user, image_tag(bonus.image_url(:medium)), download_bonus_path(bonus), :target => '_blank' %>
      
      <div class="entry content">
        <h4><%= link_to_if current_user, bonus.name, download_bonus_path(bonus), :target => '_blank' %></h4>
        <%= raw bonus.short_description %>
      </div>
    </div>
    <% end %>
  <% end %>
<div>
<div class="clear"></div>