<% if params[:controller] == 'pages' %>
<% rows = 3;span = 4 %>
<% if current_user %>
<div class="box center">
  <h2 class="grey">CLICK to receive your bonuses!</h2>
</div>
<% else %>
<div class="box center">
  <h1>FREE Instant Access to Powerful Relationship Tools!</h1>
  <p class="big">
    In addition to the live summit sessions, when you register for The Love On Purpose Revolution you’ll have <strong>immediate access to a wealth of relationship <span class="orange">tools downloadable directly to your computer.</span></strong> Here are the valuable bonuses you’ll receive just for signing up Before April 16th!
  </p>
</div>
<% end %>
<% else %>
<% rows = 4;span = 3 %>
<% end %>
<div class="row">
  <% Bonus.all.each_with_index do |bonus, i| %>
  <% if i== 0 %>
  <div class="col bonus main">
    <%= link_to_if current_user, image_tag(bonus.image_url), download_bonus_path(bonus), :target => '_blank' %>
    <div class="entry content">
      <h4><%= link_to_if current_user, bonus.name, download_bonus_path(bonus), :target => '_blank' %></h4>
      <%= raw bonus.short_description %>
    </div>
  </div>
  <% else %>
  <% if i % rows == 1 %><div class="clear"></div><% end %>
  <% if rows == 4 && i == 5 %><div class="col span<%= span %> bonus"></div><% end %>
  <div class="col span<%= span %> bonus">
    <%= link_to_if current_user, image_tag(bonus.image_url(:medium)), download_bonus_path(bonus), :target => '_blank' %>
    <div class="entry content">
      <h4><%= link_to_if current_user, bonus.name, download_bonus_path(bonus), :target => '_blank' %></h4>
      <%= raw bonus.short_description %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<div class="clear"></div>
