<h2 class="subTitle">FREE Instant Access to Powerful Relationship Tools!</h2>
<p>In addition to the live summit sessions, when you register for The Love On Purpose Revolution you’ll have immediate access to a wealth of relationship tools downloadable directly to your computer.
Here are the valuable bonuses you’ll receive just for signing up Before April 16th!</p>
<div class="bonusBox">
  <center>
  <h3>Free Call with John Gray</h3>
  <%= image_tag("http://placehold.it/400x200") %>
  <div class="bonusItem">
    <h5>John Gray Bonus</h5>
    <p>Some description text here</p>
  </div>
  </center>
  <div class="woo-sc-divider"></div>
  <div class="threecol-one">
    <div class="bonusItem">
      <%= image_tag("http://placehold.it/280x160", :class => 'noborder') %>
      <h5>Bonus #1 Title</h5>
      <p>Some description text here</p>
    </div>
  </div>
  <div class="threecol-one">
     <div class="bonusItem">
      <%= image_tag("http://placehold.it/280x160", :class => 'noborder') %>
      <h5>Bonus #2 Title</h5>
      <p>Some description text here</p>
    </div>
  </div>
  <div class="threecol-one last">
     <div class="bonusItem">
      <%= image_tag("http://placehold.it/280x160", :class => 'noborder') %>
      <h5>Bonus #3 Title</h5>
      <p>Some description text here</p>
    </div>
  </div>
  <div class="woo-sc-divider"></div>
  <div class="threecol-one">
    <div class="bonusItem">
      <%= image_tag("http://placehold.it/280x160", :class => 'noborder') %>
      <h5>Bonus #4 Title</h5>
      <p>Some description text here</p>
    </div>
  </div>
  <div class="threecol-one">
     <div class="bonusItem">
      <%= image_tag("http://placehold.it/280x160", :class => 'noborder') %>
      <h5>Bonus #5 Title</h5>
      <p>Some description text here</p>
    </div>
  </div>
  <div class="threecol-one last">
     <div class="bonusItem">
      <%= image_tag("http://placehold.it/280x160", :class => 'noborder') %>
      <h5>Bonus #6 Title</h5>
      <p>Some description text here</p>
    </div>
  </div>
</div>
<div class="woo-sc-hr"></div>