<div class="row">
  <% Bonus.all.each_with_index do |bonus, i| %>
    <% if i== 0 %>
    <div class="col bonus main">
      <%= image_tag bonus.image_url %>
      <div class="entry content">
        <h4><%= bonus.name %></h4>
        <%= raw bonus.short_description %>
      </div>
    </div>
    <% else %>
    <% if i % 3 == 1 %>
<div class="clear"></div>
<% end %>
    <div class="col span4 bonus">
      <%= image_tag bonus.image_url(:medium) %>
      
      <div class="entry content">
        <h4><%= bonus.name %></h4>
        <%= raw bonus.short_description %>
      </div>
    </div>
    <% end %>
  <% end %>
<div>
<div class="clear"></div>