<%= simple_form_for(User.new, :as => :user, :url => registration_path(:user)) do |f| %>
<center><%= image_tag 'arrows.jpg' %></center>
<%= f.input :name, :label => 'Enter Your Name' %>
<%= f.input :email, :label => 'Enter Your Email' %>
<center>
<%= image_submit_tag "button-get-free-access-now.png" %>
<p class="tiny">We respect your privacy.  We will never rent, sell or trade your information to any other organization.</p>
</center>
<% end %>