<%= render 'intro' %>
<div class="row">
  <div class="col">
    <div class="video">
      <%= embed_video '' %>
    </div>
  </div>
  <div class="col block">
    <%= render 'form' %>
  </div>
</div>
<div class="box grey center">
  <h2>25 Experts on Health, Sex, Nutrition and Fitness SHOW You</h2>
  <p>How to Create More Healthy, Vibrant & Sexy No Matter What Your Age... Sexy Younger You!</p>
</div>
<div class="row">
  <% Speaker.all.each_with_index do |speaker, i| %>
  <% if i % 3 == 0 %> <div class="clear"></div>
  <% end %>
  <div class="spaker col span4">
    <%= cl_image_tag(speaker.image.filename, :width => 300, :height => 300, :crop => :fill, :gravity => :face) %>
    <h4><%= speaker.name %></h4>
    <p>
      <%= speaker.short_bio %>
    </p>
  </div>
  <% end %>
</div>
<div class="box center">
  <h1>Here's what previous participants of
  <br>
  tele-seminars hosted by Robin Nielsen & Anna Cabeca
  <br>
  had to say about their experience:</h1>
</div>
<div class="box orange blockquote">
  <div class="quote">
    <p>
      Robin, That call was just fabulous! I have been struggling with the Zone eating and this is just what I needed. I wanted to ask if you would send me the recorded class as well even though I was on the call so I can have is as a tool. Thank-you so much. You are so wonderful!
    </p>
    <p>
      - Sandy
    </p>
  </div>
  <%= image_tag "o.png", :class => 'o' %>
  <div class="quote">
    <p>
      The approach that Dr. Cabeca takes to assist her patients in achieving optimal health is like no other I have ever experienced. The boot camp gave me more tools to use in my daily life. My digestion has improved, my sleep is better, and I am maintaining a positive attitude no matter what comes my way.
    </p>
    <p>
      — Janelle
    </p>
  </div>
  <%= image_tag "o.png", :class => 'o' %>
  <div class="quote">
    <p>
      Hi Robin! I just finished listening to your call and thought it was fabulous!! Thank you so much for all the wonderful information. I love all your e-mails and calls!
    </p>
    <p>
      — Richa
    </p>
  </div>
  <%= image_tag "o.png", :class => 'o' %>
  <div class="quote">
    <p>
      Excellent program! I loved everything about it! As a professional educator of 23 years, I want to share my thoughts about the educational value of the program. From the initial teleclass, Dr. Cabeca's presentation style was magnetic. She shared information in a clear and concise way. Easy steps to immediately make changes were presented in a manner which made it seem manageable.
    <p>
      — Wendy
    </p>
  </div>
  <%= image_tag "o.png", :class => 'o' %>
  <div class="quote">
    <p>
     I had a marvelous experience with Dr. Cabeca's Boot Camp! Within days I felt like my energy level had increased by 500%! Aches and pains were gone! With each call I gained confidence and long after the knowledge building calls had ended, continued success followed. Thanks for changing my health for life!
     </p>
    <p>
      — Charice
    </p>
  </div>
  <%= image_tag "o.png", :class => 'o' %>
  <div class="quote">
    <p>
      Robin, what an amazing journey! I went from never going on the scale to looking forward to hopping on it every morning. I feel wonderful and I am so glad I made the decision to join your program. I fit in all my pants I saved from 5  or 6 years ago. Woo Hoo! I was worried about gaining the weight back, but I feel so educated and empowered now that I am worry free! The results are truly amazing and I am so thankful that you helped me reach my goal.  You rock, girl!
    </p>
    <p>
      — Andrea
    </p>
  </div>
</div>
<div class="box center">
  <h1>Begins on Monday, September 17th!</h1>
  <br>
  <p class="big">
    There will be live calls every day Monday through Friday at 5:00pm Pacific Time. And you’ll have <strong>FREE access to every one of these powerful live sessions. Every one of these sessions will be filled with profound</strong> insights and powerful tools to help YOU create a more healthy, vibrant and sexy life! So you definitely do NOT want to miss any of these sessions!essions!
  </p>
</div>
<%= render 'bonus' if Time.now < Time.parse('2012/04/16 00:00:00').in_time_zone("Pacific Time (US & Canada)") %>
<div style="width:325px;margin:0 auto;">
  <h1 class="center">Sign Up Today</h1>
  <div class="block">
    <%= render 'form' %>
  </div>
</div>
<%= render 'sponsors' %>