<%= render 'intro' %>
<div class="row">
    <div class="col">
      <div class="video">
        <%= embed_video 'd1CDpPbuy4o' %>
      </div>
    </div>
    
  <div class="col">
    <% if event = Event.current.first %>
      <h3 style="margin-bottom:0"><%= event.name %> Live Now!</h3>
    <% else %>
      <%= countdown(Event.next.first, true) if Event.next.first %>
      <br>
    <% end %>
    <%= link_to "Go to WebCast", events_path, :class => 'button' %>
  </div>
</div>
  
<div class="box grey center">
  <h2><strong>Congratulations!</strong></h2>
  <h2>Welcome to Sexy Younger You! where you can access everything you need to Create More Healthy, Vibrant and Sexy No Matter What Your Age</h2>
</div>

<%= render 'bonus' if Time.now < Time.parse('2012/09/17 00:00:00').in_time_zone("Pacific Time (US & Canada)") %>

<div class="box center">
  <h1>Begins on Monday, September 17th!</h1>
  <br>
  <p class="big">
Make sure to be with us LIVE every night <strong>Monday through Friday at 5pm Pacific/8pm Eastern</strong> starting September 17th. Top experts on Health, Sex, Nutrition and Fitness will share their unique tools, tips and techniques to show you how to create a vibrant, sexy younger you.
 <br><br>
You can listen via the web from your computer or your telephone.<br>
Go to: <%= link_to 'www.sexyyoungeryou.com/now', events_path %><br>
for details on how to access each session.</p>
</div>

<div class="box yellow center">
  IMPORTANT: This page contains special prices on the lifetime access packages to the Sexy Younger You sessions. Be sure to read this entire page so you don’t miss this special pricing!
</div>

<!--
<div class="welcome">
  <%#= image_tag 'couples.jpg' %>
  <div class="content">
  <%#= raw Page.first.body %>
  </div>
</div>
-->

<div class="box center">
 <h3>There are three lifetime access packages available for you.<br>
Choose the one that makes the most sense.</h3>
  </div>
  
  <%= render 'products' %>

<div class="box center grey">
  <h3>You will have lifetime access to these powerful speakers</h3>
</div>
  
<div class="row">
  <% Speaker.all.each_with_index do |speaker, i| %>
    <div class="col speaker2">
      
      <%= cl_image_tag(speaker.image.filename, :width => 300, :height => 300, :crop => :fill, :gravity => :face) %>
      
      <div class="entry">
      <h3><%= speaker.name %></h3>
      <div class="content"><%= raw speaker.bio %></div>
      </div>
    </div>
    <div class="clear"></div>
  <% end %>
</div>

<div class="box center">
<h1>Our 30 Day Unconditional<br>100% Money Back Guarantee</h1>
</div>
<div class="big" style="width:920px;margin:0 auto;">
<p>We realize it might be hard to make this decision since you have not heard any of the sessions yet. So what we’ve done to take all the risk out of your decision is include an unconditional guarantee with your purchase. You’ll have a full 30-days from purchase to make up your mind.  If you're not 100% satisfied, we don't expect, or even desire, to keep your money. Simply notify us within 30 Days and we’ll give you your money back, no questions asked. We'll even let you keep all the bonuses for FREE!</p>
</div>

<%= render 'products' %>

<%= render 'sponsors' %>
