<% content_for :slider do %>
  <%= render 'preview' %>
<% end %>

<h2 class="title" style="text-align: center;">Congratulations!</h2>
<div class="entry">
<p class="large">
Welcome to the Love On Purpose Revolution where you can access everything you need to Make This Your Summer of Love!
</p><p>
Make sure to be with us LIVE every night Monday through Friday at 5pm Pacific/8pm Eastern starting July 11th through August 8th.
We’ll be joined by a top expert on Dating, Conscious Relationships, Love, Sex, Intimacy, and Self Love each evening. 
</p><p>
You can listen on your phone or on the web.  Go to: <%= link_to "www.loveonpurposerevolution.com/now", "http://www.loveonpurposerevolution.com/now" %>
to see the featured Expert each evening and also to access the recordings for FREE for 24 hours after the call. 
</p>
</div>
<div class="woo-sc-hr"></div>


<p class="highlighter">
  IMPORTANT: This page contains special prices on the lifetime access packages the Love On Purpose Revolution sessions. Be sure to read this entire page so you don’t miss this special pricing! 
</p>

<br>

<div class="entry text">
<%= image_tag("http://placehold.it/400x200") %>
<p>
Dear Seeker of Love,
</p><p>
We’re so excited you’ve decided to join us for the Love on Purpose Revolution!<br>
It’s time to stop wishing and hoping that you will magically meet the love of your life in the supermarket and start creating love on purpose.
</p><p>
We know you desire to have more loving relationships in your life.  Better connection, deeper intimacy, feeling free to be yourself and be loved for who you are and of course, better sex – these are what we are all looking for in our relationships.
</p><p>
So why does it seem so hard to get that?  Well, that’s why we’ve gathered these 21 experts. <strong>To show you how you can have what you desire and to give you the tools to make it happen.</strong>
</p><p>
We have a mission.  We know how easy it is to get caught up in old patterns and to feel like it will never happen for you.  But we know it can!  Because we did it ourselves.
</p><p>
We are Orna Walters and Matthew Walters, C.Ht. and are known as THE Power Couple.  Why?  Orna is a manifestation coach and the GPS for Your Soul.  Matthew is a transformational spiritual teacher and creater of Return 2 Power.  Together we have created a soul partnership and we know that you can too!
</p><p>
Why do we think that you can achieve what we have in our lives?  Because we've been there and we did the work.  We aren't childhood or high school sweethearts.  We didn't even meet during or after college.  It took us over 20 years in our adult lives to find each other and now that we have, we realize that if it is possible for us to create this amazing relationship then it is possible for you too.
</p><p>
We’ve made most of the mistakes that can be made in relationships.  
</p><p>
Orna was drawn to the classically unavailable man.  Either he was already in a relationship, or even married, or he was an addict and emotionally unable to commit.  When she thought she met the man of her dreams, he beat her up on New Year's Eve 1994 and she had to start her life over from scratch.  And she had to do it alone.  Having been raised by an abusive father she couldn't believe she had chosen someone who would harm her.  Thousands of hours of therapy and personal growth workshops followed, but it wasn't until Orna changed her paradigm for how she receives love that she was able to break free and created her true heart’s desire.  <strong>Taking others on this inner journey has been her focus ever since.</strong>
</p><p>
Matthew was always torn between chasing unavailable or uninterested women or running away from those who were crazy about him.  Feeling unworthy and not really liking who he was, he sought escape in drugs and alcohol.  That party-rollercoaster eventually crashed and Matthew's spiritual journey began.  Discovering meditation, yoga and hypnosis allowed Matthew to quickly heal his deepest wounds and begin to feel the self-love that he was unable to accept from others.   Meeting Orna became the final piece that allowed him the self-acceptance he so desired.  <strong>Mastering techniques that help others release their past hurts has been his mission since.</strong>
</p><p>
But we don’t expect you to just take our example!  That is why we brought these 21 experts together.  <strong>Each one of them knows that love is an intentional process.</strong>  And they all have different ways of supporting you to create it.
</p><p>
We want you to Make this Your Summer of Love by immersing yourself in these calls and soaking up all of the combined wisdom of our speakers.  Doing so will create an increasing wave of love expanding into your life.  You will feel your ability to create love and keep it growing with each and every call.
</p><p>
We’re sure you’ve heard the adage: “what you put your attention on grows.”<br>
When it comes to love, this is 100% true.  With each love expert, new paths to love will be revealed while you simultaneously soak up their proven tips, techniques and transformation.  
</p><p>
If you’ve had your heart broken or are convinced that you’ll never find love that lasts, we get it, and want you to know that all of our experts will show you the way to <strong>your true heart’s desire.</strong>
</p><p>
You’ve taken a fantastic first step to manifesting the love of your life by registering for this event. 
</p><p>
Learning and implementing new love skills and attitudes doesn’t always happen instantly, which is why we suggest you dedicate time every day to focusing on and prioritizing your love life.
</p><p>
That is in part why we are offering you this special opportunity to own this series and make it a permanent part of your audio library.  By owning it you don’t ever have to worry about missing another show and, you can listen to these transformative recordings over and over and use their wisdom, tips, tools and transformation to <strong>Create Love In Your Life!</strong>
</p>

<h3>Fully Immerse Yourself In Love This Summer!</h3>
<p>
By registering for this program <strong>you now have totally FREE access</strong> to the live sessions as well as the 24-hour replays.
</p><p>
BUT… can we be realistic here for a moment? <strong>Will you REALLY be able to get to all of the live calls?</strong> Will you have the time to sit at your computer to listen to the streaming replays of all the calls?
<p>
<ul class="shortcode-unorderedlist"><li><strong>…will you be able to listen to each and every call?</strong>
</li><li>…what if you get interrupted during a call and have to leave it.  We get it – life happens!
</li><li>…what if a speaker says something so important that you feel compelled to take action on it immediately? <strong>You might miss something even more powerful.</strong>
</li><li>…what happens when you are listening and have that moment of total clarity and so many ideas come to you that you can’t write them down fast enough? <strong>The best way to get back to that clarity is to listen to that recording again.</strong>
</li><li>…what if you don’t know how to properly spell a website address, a book title that is mentioned, or you can’t recall the recommended Free resource or tool?
</li></ul>
<p>
We want you to get the most benefit from this program, to truly <strong>be able to Create the Love you Most Desire!</strong>
</p><p>
Listening to every one of these sessions will really help you do that!
</p><p>
And, if you REALLY want love, commit to listening to these sessions multiple times. Each of these sessions will be filled with incredible insights, tools and wisdom.
</p><p>
If you’re like us, you’ll want to take notes. But if you’re busy taking notes you’re going to miss some of the wisdom being shared.
</p><p>
<strong>What if you miss the insight that holds the key to your breakthrough?</strong>
</p><p>
<strong class="underline">Here’s the solution:</strong>
</p><p>
<strong class="underline">Get lifetime access to all of the recordings</strong> so that you can listen to these sessions anytime you need new insights or inspiration. And when you upgrade to one of the lifetime packages, you get access to the downloadable MP3 recordings so that <strong>you can listen anywhere</strong> - in your car, while you’re working out, in the shower, while you’re making dinner.
</p><p>
Listen to these recordings over and over. Use them to keep you inspired, uplifted, excited and focused on your transformation from waiting and hoping for love, to making it happen in your life!
</p><p>
<strong>This is why we are offering you this opportunity to own this series RIGHT NOW at a very special price!</strong>
</p><p>
When you own it, you won’t have to worry about missing any of the content. You can to listen to these powerful experts, allowing their message of love to transform your life.
</p><p>
Wouldn’t you want a permanent recording of these remarkable insights, tools, and processes? This is a special offer that will give you just that.
</p><p>
Now you can listen to these sessions whenever and wherever you want…
</p>
<ul class="shortcode-unorderedlist"><li>Turn your car into a mobile university filled with inspiring uplifting recordings.
</li><li>Listen when you work out at the gym.
</li><li>Put on your favorite speaker when you are cleaning the house.
</li><li>Invite friends over to listen to a speaker and discuss what you’ve learned and what you’re going to put into practice.
</li></ul>
<p>
When you upgrade to one of the lifetime access packages you…
</p>
<ul class="shortcode-unorderedlist"><li>Can listen to these sessions more than once and go to <strong>a deeper understanding</strong> of the things these speakers have practiced that led to their success
</li><li>Will have a <strong>permanent collection of inspiring recordings with powerful insights</strong> and practical tools to accompany you on your journey to love.
</li><li>Will learn new things, gain new insights, <strong>awaken to new possibilitie</strong> each time you listen.
</li><li>Can experiment with the intellectual, emotional and spiritual shifts explored in the series.
</li></ul>
<p>
<strong>Isn’t it time you said YES to Love, Passion and Intimacy?</strong> 
</p><p>
This entire series can be a permanent part of your home inspirational audio library. You can share it with your family and friends, listen together, explore and discuss and allow the insights to open you to new heights of your potential!
</p><p>
When you upgrade you’ll have lifetime access to these recordings. You can <strong>replay the 21 speakers as often as you like.</strong> You’ll be able to deeply listen and integrate the material into your life. You’ll be able to re-experience many of the techniques, meditations and spontaneous processes shared in the summit, applying them in your life.
</p><p>
Love and Abundance,<br>
Orna and Matthew
</p>
</div>
<div class="woo-sc-hr"></div>
<h2>There are two lifetime access packages available for you.</h2>
<div class="entry text">
<p>Choose the one that makes the most sense.</p>
</div>
packages here
<div class="woo-sc-hr"></div>
<h2 class="subTitle">You have lifetime access to these powerful speakers:</h2>
<div class="bonusBox">
  <% Speaker.all.each_with_index do |speaker, i| %>
    <div class="bonusItem clearfix">
      <div style="float:left">
      <%= link_to_if current_user, image_tag("http://placehold.it/150x225", :class => 'noborder'), speaker %>
      </div>
      <div style="margin-left:170px">
      <h4><%= speaker.name %></h4>
      <div class="content"><%= simple_format speaker.bio %></div>
      </div>
    </div>
    <div class="woo-sc-divider flat"></div>
  <% end %>
</div>
<div class="woo-sc-hr"></div>
<h2>Our 30 Day Unconditional 100% Money Back Guarantee</h2>
<div class="entry text">
<p>We realize it might be hard to make this decision since you have not heard any of the sessions yet. So what we’ve done to take all the risk out of your decision is include an unconditional guarantee with your purchase. You’ll have a full 30-days from purchase to make up your mind.  If you're not 100% satisfied, we don't expect, or even desire, to keep your money. Simply notify us within 30 Days and we’ll give you your money back, no questions asked. We'll even let you keep all the bonuses for FREE!</p>
</div>

packages here again



<%= render 'sponsors' %>
