<% content_for :slider do %>
  <%= render 'preview' %>
<% end %>

<h2 class="title" style="text-align: center;">Congratulations!</h2>
<div class="entry">
<p class="large">
Welcome to the Love On Purpose Revolution where you can access everything you need to Make This Your Summer of Love!
</p><p>
Make sure to be with us LIVE every night Monday through Friday at 5pm Pacific/8pm Eastern starting July 11th through August 8th.
We’ll be joined by a top expert on Dating, Conscious Relationships, Love, Sex, Intimacy, and Self Love each evening. 
</p><p>
You can listen on your phone or on the web.  Go to: <%= link_to "www.loveonpurposerevolution.com/now", events_path %>
to see the featured Expert each evening and also to access the recordings for FREE for 24 hours after the call. 
</p>
</div>
<div class="woo-sc-hr"></div>


<p class="highlighter">
  IMPORTANT: This page contains special prices on the lifetime access packages the Love On Purpose Revolution sessions. Be sure to read this entire page so you don’t miss this special pricing! 
</p>

<br>

<div class="entry text">
<%= raw Page.first.body %>
</div>
<div class="woo-sc-hr"></div>
<h2>There are two lifetime access packages available for you.</h2>
<div class="entry text">
<p>Choose the one that makes the most sense.</p>
</div>
packages here
<div class="woo-sc-hr"></div>
<h2 class="subTitle">You have lifetime access to these powerful speakers:</h2>
<div class="bonusBox">
  <% Speaker.all.each_with_index do |speaker, i| %>
    <div class="bonusItem clearfix">
      <div style="float:left">
      <%= image_tag(speaker.image_url(:small), :class => 'noborder') %>
      </div>
      <div style="margin-left:255px">
      <h4><%= speaker.name %></h4>
      <div class="content"><%= simple_format speaker.bio %></div>
      </div>
    </div>
    <div class="woo-sc-divider"></div>
  <% end %>
</div>
<div class="woo-sc-hr"></div>
<h2>Our 30 Day Unconditional 100% Money Back Guarantee</h2>
<div class="entry text">
<p>We realize it might be hard to make this decision since you have not heard any of the sessions yet. So what we’ve done to take all the risk out of your decision is include an unconditional guarantee with your purchase. You’ll have a full 30-days from purchase to make up your mind.  If you're not 100% satisfied, we don't expect, or even desire, to keep your money. Simply notify us within 30 Days and we’ll give you your money back, no questions asked. We'll even let you keep all the bonuses for FREE!</p>
</div>

packages here again

<%= render 'sponsors' %>
