<%= simple_form_for resource, :url => form_resource_path, :html => {:multipart => true} do |f| %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.input :slogan %>
  <%= image_tag(resource.image_url) if resource.image? %>
  <%= f.input :image, :as => :file %>
  <%= f.hidden_field :image_cache %>
  <div class="buttons">
  <%= f.submit %>
  </div>
<% end %>
