<%= tinymce_assets %>
<%= tinymce %>
<%= simple_form_for resource, :url => form_resource_path, :html => {:multipart => true} do |f| %>
  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :price %>
  <%= f.input :product_id, :label => 'AW ProductID' %>
  <%= f.input :cart_pid, :label => 'AW Cart PID' %>
  <%= f.input :redirect_url %>
  <%= f.association :speaker, :collection => Speaker.unscoped.order(:name) %>
  <%= content_tag :div, image_tag(resource.image_url), :class => 'input indent' if resource.image? %>
  <%= f.input :image, :as => :file %>
  <%= f.hidden_field :image_cache %>
  <%= f.input :short_description, :input_html => {:class => "tinymce"} %>
  <%= f.input :description, :input_html => {:class => "tinymce"} %>
  
  <div class="buttons">
  <%= f.submit %>
  </div>
<% end %>
