<%= tinymce %>
<%= simple_form_for resource, :url => form_resource_path, :html => {:multipart => true} do |f| %>
  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :price %>
  <%= f.input :regular_price %>
  <%= f.input :product_id, :label => '1SC ProductID' %>
  <%= f.input :cart_pid, :label => '1SC Cart PID' %>
  <%= f.input :digital_download %>
  <%= f.input :redirect_url %>
  <%= f.input :youtube_id %>
  <%= f.association :speaker, :collection => Speaker.unscoped.order(:name) %>
  <%= f.fields_for :images, f.object.images.empty? ? f.object.images.build : f.object.images do |fi| %>
    <%= render 'image_fields', :f => fi %>
  <% end %>
  <div class="indent input small"><%= link_to_add_association '+ Add Another Image', f, :images %></div>
  <%= f.input :short_description, :input_html => {:class => "tinymce"} %>
  <%= f.input :description, :input_html => {:class => "tinymce wide"} %>
  
  <div class="buttons">
  <%= f.submit %>
  </div>
<% end %>
