<div id="footer-background">
  <div id="wrapper">
    <div id="footer-widgets" class="col-full col-4">
      <div class="block footer-widget-1">
        <%= image_tag("http://placehold.it/173x80") %>
        <div class="menu-footer-menu-container">
          <ul id="menu-footer-menu" class="menu">
            <li>
              <a href="#">Page</a>
            </li>
            <li>
              <a href="#">Page</a>
            </li>
            <li>
              <a href="#">Page</a>
            </li>
            <li>
              <a href="#">Page</a>
            </li>
            <li>
              <a href="#">Page</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="block footer-widget-2">
        <div id="wlpsubscribefooter-3" class="widget widget_wlpsubscribefooter">
          <% if current_user %>
          <h3>Follow Us</h3>
          <ul id="wlp_subscribe">
            <li class="sub_twitter">
              <a href="http://twitter.com/#!/lopr">Follow Us on Twitter</a>
            </li>
            <li class="sub_facebook">
              <a href="http://lopr.com/feed">Join Us on Facebook</a>
            </li>
            <li class="sub_rss">
              <a href="http://lopr.com/feed">Subscribe to RSS Feed</a>
            </li>
          </ul>
          <% end %>
        </div>
        
      </div>
      <div class="block footer-widget-3">
        <div id="wlpsupportdetails-3" class="widget widget_wlpsubscribefooter">
          <h3>Something Else</h3>
          <ul class="supportlinks">
            <li>
              <a href="#">Links</a>
            </li>
            <li>
              <a href="#">Links</a>
            </li>
            <li>
              <a href="#">Links</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="block footer-widget-4">
        <% Sponsor.limit(2).each do |sponsor| %>
        <div id="wlifooterdetail-3" class="widget widget_wlifooterdetail">
          <%= link_to image_tag("http://placehold.it/173x80"), sponsor.url %>
          <p>
            <%= sponsor.slogan %>
            <br>
            <%= link_to "Check Out #{sponsor.name}".upcase, sponsor.url %>
          </p>
        </div>
        <% end %>
      </div>
      <div class="fix"></div>
    </div>
  </div>
</div>
<div id="footer-copyright">
  <div id="wrapper">
    <div id="footer" class="col-full">
      <div id="copyright" class="col-left">
        <p>
          © <%= Time.now.year %> Moving Light Media. All Rights Reserved.
        </p>
      </div>
      <div id="credit" class="col-right"></div>
    </div>
  </div>
</div>
</div>