<center>
<% if @product.youtube_id.blank? %>
<h3><strong><%= @product.name %></strong></h3>
<div class="larger"><em><%= @product.title %></em></div><br>
<% else %>
<div class="video">
   <%= embed_video @product.youtube_id, true %>
</div>
<% end %>
</center>
<div class="content">
<%= raw @product.description.gsub('{buy_button}',buy_button) if @product.description %>  

<%= buy_button(true) %>

</div>

<% if @product.product_id %>
<div class="buy">
  <div class="top">
    <p class="largest"><em>Secure Order Form</em></p>
    <p class="larger red"><em>YES!! I Want Instant Access Now!</em></p>
    <p class="large"><em>I understand that I’ll receive instant access to:</em></p>
  </div>
  <div class="main content">
    <h4 class="center"><%= @product.speaker.name.possessive %> '<%= @product.name %>'</h4>
    <div class="inner">
    <%= raw @product.short_description %>
    </div>
    <center>
    <p class="large red">
      Regular Pricing<br><%= number_to_currency @product.regular_price, :precision => 0 %>
    </p>
    <p class="large red">
      Sexy Younger You<br><%= number_to_currency @product.price, :precision => 0 %><br>
      <span class="small black">(Exclusive offer)</span>
    </p>
    <div class="images">
    <% @product.images.each do |image| %>
      <div class="frame"><span></span><%= image_tag image.image_url(:product) %></div>
    <% end %>
    </div>
    </center>
    <%= buy_button %>
  </div>
</div>
<% end %>
