<% if @product.speaker %>

<div class="content">
<%= raw @product.description.gsub('{buy_button}',buy_button) %>  

<%= buy_button(true) %>

</div>

<div class="buy">
  <div class="top">
    <p class="largest"><em>Secure Order Form</em></p>
    <p class="larger red"><em>YES!! I Want Instant Access Now!</em></p>
    <p class="large"><em>I understand that I’ll receive instant access to:</em></p>
  </div>
  <div class="main content">
    <h4 class="center"><%= @product.speaker.name.possessive %> '<%= @product.name %>'</h4>
    <%= raw @product.short_description %>
    <center>
    <p class="large red">
      Regular Pricing<br>$<%= number_to_currency @product.regular_price, :precision => 0 %>
    </p>
    <p class="large red">
      Love On Purpose Revolution<br><%= number_to_currency @product.price, :precision => 0 %><br>
      <span class="small black">(Exclusive offer)</span>
    </p>
    </center>
  </div>
</div>
<% else %>
<h2 class="uppercase"><%= resource.name %></h2>
<div class="content">
<%= raw @product.description %>  
</div>
<%= render 'pages/bonus' if @product.id == 21 %>
<div class="row">
  <% Event.includes(:speaker).all.each_with_index do |event, i| %>
  <% if i % 5 == 0 %><div class="clear"></div><% end %>
  <div class="download col">
    <%= image_tag event.speaker.image_url, :class => 'image' %>
    <h4><%= event.speaker.name %></h4>
    <%= link_to_if event.has_audio?, image_tag('buttons/download.jpg', :class => event.has_audio? ? nil : 'disabled'), '#' %>
    <%= link_to_if event.has_transcript?, image_tag('buttons/transcripts.jpg', :class => event.has_transcript? ? nil : 'disabled'), '#' unless @product.id == 1 %>
    <%= link_to_if event.over?, image_tag('buttons/special-offer.jpg', :class => event.over? ? nil : 'disabled'), speaker_url(event.speaker) %>
  </div>
  <% end %>
</div>
<% end %>
<%= render 'pages/sponsors' %>
